html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --accent-color: #4D5AE5;
    --primary-whirte-color: #FFFFFF;
    --color-priority: #2E2F42;
    --color-text: #434455;
    --color-active: #404BBF;
    --color-bg-btn: #F4F4FD;
    --color-footer: #E7E9FC;
    --card-set-gap: 24px;
    /*--btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);*/
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--primary-whirte-color);
    letter-spacing: 0.02em;    
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   /* border: 2px solid red;*/
}
.container-grid {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;  
}
h1,
h2,
h3 {
    margin: 0;  
}
p,
ul {
    margin: 0;
}
.portfolio-filter {
    text-align: center;
    color: transparent;
}
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-priority)
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo-color {
    color: var(--accent-color);
}
.logo:hover,   
.logo:focus {
    font-size: 18px;
    color: var(--accent-color);
}
.header-container {
    display: flex;
    align-items: center;   
}
.logo-nav {
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;   
}
.header-nav .header-item{
    display: block;
    margin-right: 40px;  
}
.header-nav .header-item:last-child{
    margin-right: 0;
}
.header-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-priority);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    list-style-type: none;
    text-decoration: none;
}
.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contacts-iteam {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contacts-iteam  .contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text) ;
    text-decoration: none;
    letter-spacing: 0.02em;

}
.contacts-iteam .contacts-list + .contacts-list {
    margin-left: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
.contacts-link:active {
    color: var(--color-active);
}

.logo {
    margin-right: 77px;
}
.button {
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid var(--color-footer);
    border-radius: 4px;
    margin-right: 24px;
    list-style: none;
}
.button-iteam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    margin-top: 96px;
    margin-right: 24px;
    text-align: center;
}
.button-iteam .button-last:last-child {
    margin-right: 0;
}
.cent {
    justify-content: center;
}
.centered {
    text-align: center;  
    padding-top: 120px; 
}
.center-section {
    text-align: center;
    padding-top: 0;
}
.button-iteam .button {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-bg-btn);
    color: var(--accent-color);
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;  
}

.button-iteam .button:hover,
.button-iteam .button:focus {
    color: var(--primary-whirte-color);
    background: var(--accent-color);
}
.button-iteam .button:active {
    color: var(--primary-whirte-color);
    background: var(--color-active);
 }
.button.btn-all {
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid transparent;
    color: var(--primary-whirte-color) ;
    background-color: var(--accent-color);
   /* box-shadow: var(--btn-shadow);*/
   border: 0.5px solid var(--color-bg-btn);
 }
.list-item {
    margin-top: 0;
    background-color: var(--primary-whirte-color);
}
.center {
    background: var(--color-priority);
    text-align: center;
}
.button-center {
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid transparent;
    text-decoration: none;

    color: var(--color-bg-btn);
    background-color: var(--accent-color);
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
    font-family: inherit;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.02em;  
}
.button-center:hover,
.button-center:focus,
.button-center:active {
    color: var(--primary-whirte-color);
    background: var(--color-active);
    cursor: pointer;
}
.hero {
    margin-bottom: 48px;
    font-family: inherit;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-whirte-color);    
}
.team {
    background: var(--color-bg-btn);
}
.item-team {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
    padding-bottom: 120px;
    background-color: var(--color-bg-btn);;
}
.item-team .team-list {
    /*box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);*/
    border: 0.5px solid var(--color-bg-btn);
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    background-color: var(--primary-whirte-color);
}
.item-team .team-name {
    margin-bottom: 8px;
    text-align: center;
}
.item-team .team-img{
    margin-bottom: 32px;
}
.team-name-center {
    margin-bottom: 32px;
    text-align: center;
}
.card-set {
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.card {
    max-width: 360px;
    padding: 0;
    /*box-shadow: var(--card-shadow);*/
    border-top: none;
    border: 0.5px solid var(--color-bg-btn);  
}
.card-set {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 33px;
    margin-bottom: 120px;   
}
.card-set .list-item {
    padding: 0;
    border: 0.5px solid var(--color-bg-btn);
    /*box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);*/
    border-top: none;
}
.card-set .card-heading {
    margin-left: 16px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}.card-set .card-image {
    margin-bottom: 32px;
    padding: 0;
}
.card-set .card-text {
    margin-left: 16px;
    margin-bottom: 32px;
}
.card-content {
    border-top: 0;
}
.card-thumb {
    background-blend-mode: soft-light, normal;
}
.card-heading {
    margin-top: 0;  
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.card-set .list-item {
    flex-basis: calc((100% - 72px) / 3);
}
.card-set > .list-item:nth-child(3n) {
    margin-right: 0;
}
img {
    display: block;
    max-width: 100%; 
}
.options {
    padding-top: 0;
}
.container-options {
    border: 1px solid var(--color-bg-btn);
    background-blend-mode: soft-light, normal;
}
.list-options > .list-options-item {
    padding-right: 24px;
}
.list-options .list-options-item:last-child {
    padding-right: 0;
}
.list-options {
    display: flex;
    flex-wrap: nowrap;
      
}
.priorities {
    padding-bottom: 72px;
   /* padding-top: 120px;*/
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-priority); 
}
 .title {
    margin-bottom: 8px;   
}
 .list-title {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px; 
}
.list-title-item {
    flex-basis: calc((100% - (3*24px)) / 4);
    margin-right: 24px;
    background-color: var(--primary-whirte-color);    
}
 .list-title > .list-title-item:last-child {
    margin-right: 0;  
}
.footer {
    background: var(--color-priority);
    color: var(--color-bg-btn);
}
.footer-text{
    padding-top: 16px;
    padding-bottom: 100px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer);
     
}
.footer-link {
    display: block;
    justify-content: flex-start;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--color-bg-btn);
   
}
.footer-link:hover {
    color: var(--accent-color);
}